<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <title>Cloud Clicker</title>
    <script>
        function logout() {
            console.log("logout, back pressed");
            sessionStorage.removeItem('username');
            sessionStorage.removeItem('token');
            window.location.href = '/';
        }

        window.onpopstate = () => {
            logout();
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>Cloud Clicker</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <a onclick="showClicks()" class="link-menu">View Clicks</a>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="showLogin()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="showRegister()">Sign Up</button>
            </div>
        </nav>
        <!----------------------------- Form box ----------------------------------->
        <div class="form-box">

            <!------------------- login form -------------------------->
            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a onclick="showRegister()" class="link">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username" id="signin-username">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password" id="signin-password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In" onclick="signIn()">
                </div>
                <p id="signin-message-valid" class="valid-message"></p>
                <p id="signin-message-invalid" class="invalid-message"></p>
            </div>

            <!------------------- registration form -------------------------->
            <div class="register-container" id="register">
                <div class="top">
                    <span>Have an account? <a onclick="showLogin()" class="link">Login</a></span>
                    <header>Sign Up</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username" id="signup-username">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password" id="signup-password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Register" onclick="signUp()">
                </div>
                <p id="signup-message-valid" class="valid-message"></p>
                <p id="signup-message-invalid" class="invalid-message"></p>
            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>

</html>